:root {
	--primary-color: #0f9d58;
}

.wrapper{
	margin-top: 100px;
}

.text_banner {
	transform: translateY(100%);
	text-align: center;
}

.text_banner>form>input {
	width: 600px;
	height: 35px;
	margin-top: 10px;
	border-radius: 5px;
	outline: none;
	padding: 24px;
	font-size: 18px;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.text_banner>form>button>i {
	margin-left: -60px;
	font-size: 20px;
	border: none;
	cursor: pointer;
	/* background-color: #000; */
}

.food-menu{
	width: 90vw;
	margin: 5px auto;
	border-radius: 20px;
	/* margin-top: 20px; */
	text-align: center;
	background-color: #000;
	background-image: linear-gradient(to left,  rgb(225, 222, 49),#0f9d58);
	padding: 10px;
}

.food-menu button{
	margin: 4px 10px;
	padding: 12px;
	min-width: 150px;
	border-radius: 20px;
	border: none;
	transition: .3s;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.food-menu button:hover{
	transform: scale(1.05,1.05);
	/* background-color: #61d29b; */
}

.food-menu button a{
	text-decoration: none;
	/* color: #0f9d58; */
	color: #000;
}

.food-menu i{
	margin-right: 2px;
}

h1{
	font-size: 20px;
	padding: 6px;
	border-radius: 10px 0px 10px 0px;
	width: 80vw;
	color: #fff;
	margin: 20px auto;
	background-color: #0f9d58;
}

.food-list{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
	width: 80%;
	margin: 0 auto;
}

.food-item{
	border-radius: 12px;
	overflow: hidden;
	display: grid;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.food-item img{
	width: 100%;
	background-color: antiquewhite;
}

.food-item span{
	margin: 4px 10px;
	/* min-height: 30px; */
}

.food-item span a{
	text-decoration: none;
	/* font-size: 20px; */
	color: #000;
}





