* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --main-color: #0f9d58;
    --color-text: rgb(12, 70, 7);
    font-family: font;
}

@font-face {
    font-family: font;
    src: url(../../admin/font/LexendDeca-VariableFont_wght.ttf);
}

.container {
    width: 85vw;
    margin: 3.25em auto;
}

.header {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    width: 100vw;
    background-color: #fff;
    z-index: 3;
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.header .logo {
    width: 4.25em;
    height: 4.25em;
    overflow: hidden;
    margin: 0px 4.375em;
}

.header .logo img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.header .menu ul {
    display: flex;
}

.header .menu ul li {
    margin: 0px 1.25em;
    list-style-type: none;
    margin-top: 5%;
    transform: translateY(-50%);
}

.header .menu ul li a {
    line-height: 1.875em;
    text-decoration: none;
    color: #000;
}

.header .menu>ul>li>a:hover {
    border-bottom: 2px solid var(--main-color);
}

.dropbtn {
    background-color: unset;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    padding-top: 0.625em;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 12.5em;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: .5s;
}

.dropdown-content a:hover {
    border-left: 10px solid var(--main-color);
    transform: scaleX(-10px);
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.user ul {
    display: flex;
    margin: 0px 20px;
    margin-top: 7%;
}

.user ul li {
    list-style: none;
    margin: 0px 10px;
}

.user ul li a {
    text-decoration: none;
    color: #000;
}

/* Banner */

/* Container-title */
.container-title {
    border-left: 5px solid var(--main-color);
    display: flex;
    padding: 4px 16px;
    margin: .5em 0;
    line-height: 30px;
}

/* product category */
.product-category {
    overflow: hidden;
    width: 20%;
    text-align: left;
    padding: 2px 5px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.product-category h3 {
    margin-top: 4px;
    color: #fff;
    padding: 8px 4px;
    text-align: center;
    font-size: 16px;
    background-color: var(--color-text);
}

.product-category ul li {
    margin-top: 4px;
    list-style: none;
    padding: 5px 20px;
    border-radius: 4px;
    background-color: #fff;
    transition: .1s;
}

.product-category ul li:hover {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.product-category ul li a {
    text-decoration: none;
    color: var(--color-text);
}

.product-category ul li .fa-solid {
    float: left;
}

.product-category ul li .fa-circle-chevron-right {
    float: right;
    visibility: hidden;
}

.product-category ul li:hover .fa-circle-chevron-right {
    visibility: unset;
}

.product-category ul li i {
    margin-right: 4px;
    color: var(--color-text);
}

.product-category-user input[type=text]{
    width: 100%;
    padding: 6px;
    border: none;
    margin: 6px;
    outline: none;
}

  .product-category-user input[type=submit]{
      background-color: var(--main-color);
      margin: 2px 0px;
      width: 100%;
      border: none;
      padding: 8px;
      border-radius: 4px;
      color: #fff;
  }

  .product-category-user input[type=submit]:hover{
    cursor: pointer;
  }


/* slide category */
.slide-category {
    margin-top: 1.875em;
    overflow: hidden;
    overflow: hidden;
}

.slide-category img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

/* Slide */
.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 80vw;
    position: relative;
    margin: auto;
    height: 29.375em;
    overflow: hidden;
}

/* Product */

.product {
    padding: 10px;
    border-radius: 4px;
    display: flex;
}

.product-main {
    width: 80%;
    margin-left: 20px;
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.product-search {
    display: flex;
}

.product-search .search {
    margin-left: 18vw;
    display: flex;
    width: 100%;
    border-radius: 4px;
    padding: 4px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.product-search input[type=text] {
    border: none;
    outline: none;
    width: 80%;
    margin-right: 4px;
    padding: 4px;
}

.product-search button {
    width: 20%;
    background-color: unset;
    color: var(--color-text);
    border: none;
}

.product-box {
    min-height: 15.625em;
    border-radius: 4px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    overflow: hidden;
    transition: .2s;
    display: grid;
}

.product-box:hover {
    transform: scale(1.02, 1.02);
    cursor: pointer;
}

.product-box img {
    width: 100%;
    background-color: rgb(214, 223, 200);
    margin-bottom: 10px;
}

.product-box>a>button {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border: none;
    background-color: unset;
    text-align: center;
    border-radius: 4px;
    width: 90%;
    height: 30px;
    margin: 0px 10px;
}

.product-box a {
    text-decoration: none;
}

.product-box p {
    margin: 6% 6% 2% 6%;
}

.product-box .name {
    height: 30px;
    font-weight: 600;
    color: var(--color-text);
}

.product-box .price {
    opacity: .8;
    color: red;
    font-size: 16px;
    text-align: left;
}

.product-box .price del {
    color: gray;
    font-size: 14px;
    font-style: italic;
}

.product-box-btn {
    height: 60px;
    display: flex;
    margin-top: 4px;
    bottom: 2px;
}

.product-box-btn i {
    font-size: 20px;
}

.product-box-btn button {
    width: 100%;
    margin: 5px 5px 10px 5px;
    border: none;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 4px;
}

.product-box-btn .add {
    color: #fff;
}

.product-box-btn:hover button {
    cursor: pointer;
}

/* intro */
.intro {
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    padding: 40px;
}

.intro .intro-img {
    width: 45%;
    border-radius: 40px 0px 40px 0px;
    overflow: hidden;
}

.intro .intro-img img {
    height: 100%;
    width: 100%;
}

.intro .intro-content {
    margin-left: 20px;
    border-left: 5px dotted var(--main-color);
    border-right: 5px dotted var(--main-color);
    padding: 20px;
    width: 60%;
    opacity: .9;
}

.intro .intro-content h3 {
    color: var(--main-color);
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.intro-content ul {
    margin: 0px 70px;
}

.intro-content ul li {
    margin: 10px 0px;
    font-size: 18px;
}

.intro-content button {
    text-align: center;
    width: 93%;
    margin: 0px 20px;
    padding: 10px;
    border-radius: 4px;
    background-color: var(--main-color);
    border: none;
    color: #fff;
}

.intro-content button a {
    color: #fff;
    text-decoration: none;
}

/* Blog */
.blog {
    display: flex;
}

.blog-left{
    width: 65%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.blog-left-box-img{
    width: 100%;
    height: 70%;
    border-radius: 4px;
    overflow: hidden;
}

.blog-left-box-img img{
    width: 100%;
    height: 100%;
}

.blog-left-box p{
    margin: 10px 0px 0px 10px;
    min-height: 50px;
}

.blog-left-box button{
    margin-left: 10px;
    border: none;
    background-color: unset;
    padding: 8px 0px;
    border-bottom: 2px solid black;
}

.blog-right{
    padding: 10px;
    width: 35%;
    text-align: justify;    
}

.blog-right-box{
    padding: 10px;
    min-height: 100px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    margin-bottom: 4px;
    border-radius: 8px;
}

.blog-right-box:hover{
    cursor: pointer;
}

.blog-right-box:hover a{
    color: var(--color-text);
    font-weight: bold;
    border-bottom: 1px solid var(--main-color);
}

p.blog-mota{
    margin-left: 18px;
}

.blog-right-box a{
    font-size: 12px;
    border-bottom: 1px solid #000;
    margin-top: 8px;
    float: right;
}

.blog a:hover,
.blog button:hover{
    cursor: pointer;
}
/* Sale */
/* footer */
.footer {
    margin-top: 40px;
    position: relative;
    opacity: .9;
    padding: 0px 80px;
    padding-top: 40px;
    background-color: black;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.footer::before {
    content: ' ';
    /* display: block; */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.2;
    background-image: url('../../Images/Footer/variety-fresh-tasty-vegetables-dark.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.footer h3 {
    color: #fff;
    z-index: 3;
}

.footer>.contact {
    text-align: center;
}

.footer>.contact img {
    width: 60%;
    height: 60%;
    background-color: #fff;
    opacity: unset;
    border-radius: 50%;
}

.footer-box {
    z-index: 3;
}

.address {
    text-align: justify;
}

.address p {
    color: #fff;
}

.address ul {
    list-style-type: none;
}

.address ul li {
    margin: 12px 0px;
}

.address ul li a {
    text-decoration: none;
    color: #fff;
}

.address>input,
.address>button {
    width: 100%;
    margin-bottom: 8px;
    padding: 8px 4px;
    border: none;
}

.address>button {
    background-color: var(--main-color);
    color: #fff;
}

.footer.contact i {
    font-size: 20px;
    margin: 20px 10px;
    color: #fff;
}

/* sale */

/* Back top */
.class-helo {
    position: relative;
}

#backTop {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    background-color: #91ad41;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -35px auto;
    cursor: pointer;
    box-shadow: 0 0 10px #8fbe0b;
    position: absolute;
    left: 103%;
    transform: translateX(-50%);
    z-index: 4;
}


/* ************ đăng kí*/

#iplg,
#iprg {
    color: black;
    border: none;
    font-weight: bold;
    font-size: 24px;
    background-color: white;
}

#iplg {
    color: #86B70B;
}

.flex input[type=submit] {
    width: 100%;
}

.text {
    margin-top: 20px;
}

#dangnhap,
#dangki {
    width: 31.25em;
    margin: 0 auto;
}

.title {
    text-align: center;
    overflow: hidden;
    position: relative;
}

#nav {
    width: 37.5em;
    background-color: white;
    padding: 30px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    overflow: hidden;
    position: absolute;
    transform: translatey(-700px);
    left: 29%;
    height: 22.5em;
}

#dangnhap {
    position: relative;
    transition: 1s;
}

#dangki {
    position: absolute;
    transition: 1s;
    left: 100%;
    transform: translateY(-275px);
}

.gach {
    border-top: 3px #86B70B solid;
    width: 140px;
    position: absolute;
    left: 11.25em;
}

.hidden {
    display: none;
}

.text {
    width: 31.25em;
    border-bottom: 1px solid black;
}

.text input {
    width: 100%;
    height: 35px;
    border: 0;
    outline: 0;
    font-size: 16px;
}

.text {
    margin: 30px 0;
    display: flex;
    align-items: center;
}

.text i {
    font-size: 16px;
    margin-right: 5px;
}

.login {
    margin-top: 20px;
    border: none;
    background-color: #86B70B;
    color: white;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
}

.checkbox {
    align-items: center;
}

.forgot {
    margin-top: 10px;
    text-align: center;
    color: gray;
    text-decoration: none;
    border: 0;
    font-size: 16px;
    background-color: white;
}

.forgot a:hover {
    color: #86B70B;
}

.fa-x {
    color: red;
    font-weight: bold;
    position: absolute;
    right: 15px;
}

.searchtk {
    color: #86B70B;
    text-align: center;
}

.forgot1 {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    font-size: 16px;
    width: 90%;
    margin: 30px auto;
    padding: 5px 0px;
}

.forgot1 input {
    outline: 0;
    font-size: 18px;
    width: 100%;
    border: 0;
    margin: 5px 10px;
}

.nuttk input {
    border: none;
    padding: 5px 20px;
    position: relative;
    left: 200px;
    width: 150px;
    border-radius: 10px;
}

.timtk {
    background-color: #86B70B;
    color: white;
}

#timkiem {
    position: absolute;
    transition: 1s;
    top: 10%;
    transform: translateY(-400px);
}

/* ********* */