*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --main-color: #57750b;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
.container{
    width: 1080px;
    margin: 0 auto;
}
.header{
    display: flex;
    /* line-height: 50px; */
}
.header .logo{
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin:0px 70px;
    /* border-radius: 50%; */
}
.header .logo img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.header .menu ul{
    display: flex;
}
.header .menu ul li{
    margin: 0px 20px;
    list-style-type: none;
    margin-top: 10%;
    transform: translateY(-50%);
    transition: .1s;
}
.header .menu ul li a{
    line-height: 30px;
    text-decoration: none;
    color: #000;
}
.header .menu>ul>li:hover{
    transform: scale(1.05,1.05);
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
    border-top: 2px solid var(--main-color);
}

.dropbtn {
    background-color: unset;
    border: none;
    cursor: pointer;    
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    padding-top: 10px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: .5s;
}
  
.dropdown-content a:hover {
    border-left: 10px solid var(--main-color);
    transform: scaleX(-10px);
    background-color: #f1f1f1
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

  /* Banner */
/* intro */

/* product category */
.product-category{
    overflow: hidden;
    width: 25%;
    /* padding: 20px; */
    text-align: left;
    border-radius: 20px 20px 20px 0px;
    /* background-color: rgb(240, 240, 240); */
    padding: 2px 5px;
    /* height: inherit; */
    border: 4px solid var(--main-color);
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    /* box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px; */
    /* box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px; */
}

.product-category h3{
    margin-top: 4px;
    color: #fff;
    padding: 8px 0px;
    text-align: center;
    background-color: var(--main-color);
    /* padding: unset; */
    border-radius: 16px;
}


.product-category ul li{
    margin-top: 10px;
    list-style: none;
    padding: 5px 20px;
    border-radius: 4px;
    background-color: #fff;
    /* color: #000; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2.4px 3.2px;
    transition: .1s;
}

.product-category ul li:hover{
    transform: scale(1.05,1.05);
}

.product-category ul li a{
    text-decoration: none;
    color: #000;
    /* font-weight: 550; */
}


.product-category ul li .fa-solid{
    float: left;
}
.product-category ul li .fa-circle-chevron-right{
    float: right;
    visibility: hidden;
}

.product-category ul li:hover .fa-circle-chevron-right{
    visibility: unset;
}

.product-category ul li i{
    margin-right: 4px;
    color: #000;
}
/* Product Category Search */
.product-category .search{
    margin-top: 20px;
    display: flex;
    width: 100%;
    border-radius: 4px;
    background-color: var(--main-color);
    padding: 4px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    /* overflow: hidden; */
    
}
.product-category input[type=text]{
    width: 80%;
    margin-right: 4px;
    padding: 4px 4px;
    /* height: 40px; */
}
.product-category button{
    width: 20%;
    background-color: unset;
    color: #f1f1f1;
    border: none;
}

/* slide category */
.slide-category{
    margin-top: 30px;
    /* border-radius: 20px 0px 0px 0px; */
    overflow: hidden;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
}
.slide-category img{
    width: 100%;
    height: 100%;
    
}

/* Product */

.product{
    display: flex;
}

.product-main{
    width: 75%;
    margin-left: 20px;
    display: grid;
    grid-gap: 14px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.product-box{
    min-height: 250px;
    border-radius: 8px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    overflow: hidden;
    transition: .2s;
    display: grid;
}

.product-box:hover{
    transform: scale(1.05,1.05);
    cursor: pointer;
}

.product-box img{
    width: 100%;
    background-color: antiquewhite;
    margin-bottom: 10px;
    border-radius: 8px;
}

.product-box>button{
    border: .1px solid #000;
    opacity: .7;
    /* background-color: var(--main-color); */
    border-radius: 12px;
    padding: 8px;
    width: 50%;
    height: 30px;
    margin-left: 10px;
}

.product-box p{
    margin: 6% 0px 0px 10%;
}

.product-box .name{
    font-weight: 550;
    color: rgb(12, 70, 7);
}

.product-box .price{
    /* color: red; */
    opacity: .8;
    
}

.product-box-btn{
    display: flex;
    margin-top: 4px;
}

.product-box-btn i{
    font-size: 20px;
}

.product-box-btn button{
    width: 100%;
    margin: 5px 5px 10px 5px;
    border: none;
    background-color: var(--main-color);
    color: #fff;
    padding: 12px;
    border-radius: 8px;
    /* text-align: center; */
    transition: .3s;
}

.product-box-btn .add{
    color: #fff;
}

.product-box-btn:hover button{
    transform: scale(1.05,1.05);
}
/* intro */
.intro{
    display: flex;
    margin-top: 20px;
    padding: 40px;
}

.intro .intro-img{
    width: 45%;
    border-radius: 40px 0px 40px 0px;
    overflow: hidden;
}

.intro .intro-img img{
    height: 100%;
    width: 100%;
}

.intro .intro-content{
    margin-left: 20px;
    border-left: 5px dotted var(--main-color);
    border-right: 5px dotted var(--main-color);
    padding: 20px;
    width: 60%;
    opacity: .9;
}

.intro .intro-content h3{
    color: var(--main-color);
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.intro-content ul{
    margin: 0px 70px;
}

.intro-content ul li{
    margin: 10px 0px;
    font-size: 18px;
}

.intro-content button{
    text-align: center;
    width: 93%;
    margin: 0px 20px;
    padding: 10px;
    border-radius: 4px;
    background-color: var(--main-color);
    border: none;
    color: #fff;
}

/* footer */
.footer{
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    /* background-color: ; */
}

.footer .contact{
    text-align: center;
}
.footer .contact img{
    width: 60%;
    height: 60%;
    /* border-radius: 50%; */
}

.address{
    text-align: justify;
}

.address ul{
    /* padding: 20px; */
    list-style-type: none;
}

.address ul li{
    margin: 12px 0px;
}

.address ul li a{
    text-decoration: none;
    color: #000;
}

.address>input,
.address>button{
    width: 100%;
    margin-bottom: 8px;
    padding: 8px 4px;
    border: none;
}

.address>button{
    background-color: var(--main-color);
    color: #fff;
}

.footer .contact i{
    font-size: 20px;
    margin: 20px 10px;
    color: var(--main-color);
}

/* sale */
