*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --main-color: #57750b;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
.container{
    width: 980px;
    margin: 0 auto;
}
.header{
    display: flex;
    /* line-height: 50px; */
}
.header .logo{
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}
.header .logo img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.header .menu ul{
    display: flex;
}
.header .menu ul li{
    margin: 0px 20px;
    list-style-type: none;
    margin-top: 20%;
    transform: translateY(-50%);
    transition: .1s;
}
.header .menu ul li a{
    line-height: 30px;
    text-decoration: none;
    color: #000;
}
.header .menu>ul>li:hover{
    transform: scale(1.05,1.05);
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
    border-top: 2px solid var(--main-color);
}


.dropbtn {
    background-color: unset;
    border: none;
    cursor: pointer;    
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    padding-top: 10px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: .5s;
  }
  
.dropdown-content a:hover {
    border-left: 10px solid var(--main-color);
    transform: scaleX(-10px);
    background-color: #f1f1f1
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

  /* Banner */


.intro{
    padding: 20px;
    background-color: #fff;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
}


.intro-box{
    text-align: right;
    height: auto;
    border-radius: 4px;
    overflow: hidden;
}

.intro-box img{
    width: 100%;
    height: 100%;
    transition: .3s;
    border-radius: 60%;

}

.intro-box:hover img{
    transform: scale(1.1,1.1);
    border-radius: unset;
}

.intro-box-btn{
    text-align: center;
    display: grid;
}


.intro-box-btn button{
    /* margin: 10px; */
    border-radius: 4px;
    width: 100%;
    margin-top: 10px;
}


.intro-box-btn button a{
    text-decoration: none;
}

.intro-box-title{
    transition: .3s;
    padding: 30px;
    border-right: 2px solid var(--main-color);
    overflow: hidden;
}
.intro-box-title:hover{
    transform: translateX(-2%);
}

.intro-box-title p{
    margin-top: 20px;
    text-align: justify;
}

.more{
    background-color: var(--main-color);
    border-radius: 4px;
    padding: 5px 20px;
    border: 3px solid #fff;
    transition: .1s;
}

.more:hover{
    transform: scale(1.05,1.05);
}


.more a{
    color: #fff;
}

/* product */

.product{
    display: flex;
}
h2{
    margin-bottom: 10px;
}
.product-main{
    width: 75%;
    margin-right: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.product-category{
    border-radius: 4px;
    width: 20%;
    padding: 20px;
    box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
    /* box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px; */
}

.product-category ul li{
    margin-top: 10px;
    list-style: none;
}


.product-category ul li a{
    text-decoration: none;
    color: #000;
}


.product-box{
    min-height: 250px;
    border-radius: 4px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    overflow: hidden;
    transition: .2s;
}

.product-box:hover{
    transform: scale(1.05,1.05);
}

.product-box img{
    width: 100%;
}

.product-box p{
    margin: 5% 0px 10px 10%;
}


.blog{
    margin-top: 70px;
    display: flex;
}

.blog-box{
    min-height: 300px;
    border-radius: 4px;
    /* background-color: #000; */
    width: 50%;
    overflow: hidden;
    height: auto;
}

.blog-box h4, p{
    margin: 20px 0px;
}


.blog-content{
    padding: 40px;
    text-align: justify;
}

.blog-box img{
    border-radius: 20% 0px 20% 0px;
    width: 100%;
    height: 100%;
}

/* footer */
.footer{
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    /* background-color: ; */
}

.footer-box{
    border-radius: 8px;
    overflow: hidden;
    max-height: 200px;
    /* background-color: orange; */
}


.footer .contact{
    text-align: center;
}
.footer .contact img{
    width: 70%;
    height: 70%;
    border-radius: 50%;
}

.address{
    text-align: justify;
}

.address ul{
    padding: 20px;
    list-style-type: none;
}

.address ul li{
    margin: 12px 0px;
}

.address ul li a{
    text-decoration: none;
    color: var(--main-color);
}

i{
    color: var(--main-color);
}
.address i{
    color: var(--main-color);
}

.address>input,
.address>button{
    width: 100%;
    margin-bottom: 8px;
    padding: 8px 4px;
    border: none;
}

.address>button{
    background-color: var(--main-color);
    color: #fff;
}

.footer .contact i{
    font-size: 20px;
    margin: 20px 10px;
    color: var(--main-color);
}

/* sale */

.sale{
    overflow: hidden;
}
.sale img{
    height: 100%;
    width: 100%;
}