h3.cart-title{
    --main-color: #57750b;
    color: var(--main-color);
    border-bottom: 5px solid var(--color-main);
    margin-bottom: 10px;
    text-align: center;
}

.cart{
    margin-top: 110px;
    display: flex;
    padding: 30px;
    z-index: 2;
    background: linear-gradient(to right,#dd3e54, #6be585);
}

.cart-left,.cart-right{
    background-color: #fff;
    z-index: 1;
    padding: 12px;
    border-radius: 8px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cart-left{
    width: 60%;
    margin-right: 20px;
}

.cart-right{
    width: 40%;
}
table {
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: .1px solid gray;
    text-align: center;
    padding: 8px;
}

tr th{
    background-color: var(--main-color);
    color: #fff;
}
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

.cart-product{
    display: contents;
}

.cart-product-img{
    width: 70px;
    height: 70px;
    border-radius: 4px;
    overflow: hidden;
    border-radius: 50%;
}

.cart-product-img img{
    width: 100%;
    height: 100%;
}


/* cart right */
.cart-right .cart-title{
    text-align: center;
    margin: 10px 0px;
}


.cart-right-box{
    margin-bottom: 3px;
    border-radius: 4px;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.cart-right-box ul li{
    margin-bottom: 4px;
}

.cart-right b{
    float: right;
}

.cart-right .money-sum{
    padding: 10px;
    border-radius: 4px;
}

.cart-right .money-sum .sum{
    font-size: 15px;
    opacity: .8;
    margin: 7px 0px;
}

.cart-right .money-sum .sum>b{
    color: #000;
}

.cart-right-box ul li input[type=text]{
    width: 100%;
    padding: 8px;
}

.cart-sum b{
    color: red;
}

.sanpham ul li{
    padding: 8px 10px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.cart-right-box ul{
    margin: 10px 0px;
}

.cart-right-box ul li{
    list-style: none;
    font-style: italic;
    margin: 10px 0px;
}

.cart-right button{
    width: 100%;
    border: none;
    padding: 8px;
    border-radius: 4px;
    opacity: .8;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

.cart-right-box>ul>button{
    background-color: var(--main-color);
}

.money-sum button{
    background-color: red;
    padding: 15px;
    margin-top: 10px;
}

.money-sum form input[type=radio]{
    margin: 6px 10px;
}

.cart-right button:hover{
    opacity: 1;
    cursor: pointer;
}


