.news h1{
    padding: 10px 0px;
  }
  .news-box {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 30px;
  }


  .news-box .news-hastag button{
    border: none;
    padding: 8px;
    border-radius: 8px;
    background-color: unset;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  } 

  .news-box .news-search{
    /* padding: 8px; */
    border-bottom: 2px solid #000;
    display: flex;
  }

  .news-box .news-search input[type=text]{
    padding: 8px;
    border: none;
    outline: none;
    width: 90%;
  }
  .news-box .news-search button{
    border: none;
    /* outline: none; */
    width: 10%;
    padding: 8px;
    background-color: unset;
  }


  .news-box .news-hastag button:hover{
    background-color: #F0F0F0;
    cursor: pointer;
  }

  .card-img {
    width: 50%;
    overflow: hidden;
  }

  .card img {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
  }

  .card {
    background: #fff;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 10%);
    /* max-height: 250px; */
    margin: 1rem;
    width: 100%;
    overflow: hidden;
    font-size: 40px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    justify-content: center;
  }

  .card-content {
    width: 50%;
    text-align: left;
  }

  .card-content p {
    padding: 10px;
  }

  .grid-container-1 .card:nth-child(1) {
    grid-area: card1;
  }

  .grid-container-1 .card:nth-child(2) {
    grid-area: card2;
  }

  .grid-container-1 .card:nth-child(3) {
    grid-area: card3;
  }

  .grid-container-1 .card:nth-child(4) {
    grid-area: card4;
  }

  .grid-container-1 .card:nth-child(5) {
    grid-area: card5;
  }

  .grid-container-1 {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
      "card1 card1 card5"
      "card2 card4 card5"
      "card3 card4 card5"
      "card3 card4 card5";
  }

  .news {
    width: 90vw;
    margin: 0 auto;
    margin-top: 70px;
  }